# 构建输出
bin/
pkg/
dist/

# 依赖缓存
vendor/
go.sum

# 临时文件和日志
*.log
*.tmp
*.temp

# 编辑器和 IDE 相关文件
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS 系统文件
.DS_Store

# 测试缓存
test.cache
test.output

# 配置文件
config.local.yaml
config.local.json

# 环境变量文件
.env